<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="/">MyApp</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item" *ngIf="!isUserLoggedIn">
                <a class="nav-link" routerLink="/admin/login" routerLinkActive="active">Login</a>
            </li>
            <li class="nav-item" *ngIf="!isUserLoggedIn">
                <a class="nav-link" routerLink="/admin/signup" routerLinkActive="active">Register</a>
            </li>
            <li class="nav-item" *ngIf="isUserLoggedIn">
                <a class="nav-link" routerLink="/invoices" routerLinkActive="active">Invoices</a>
            </li>
            <li class="nav-item dropdown" *ngIf="isUserLoggedIn">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    User
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="nav-link" routerLink="/admin" routerLinkActive="active">Admin</a>
                    <a class="nav-link" (click)="logout()">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>